USE [nissimDW]
GO
/****** Object:  Table [dbo].[ChannelTarget]    Script Date: 3/13/2017 1:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChannelTarget](
	[Year] [varchar](50) NULL,
	[ChannelName] [varchar](50) NULL,
	[TargetName] [varchar](50) NULL,
	[TargetSalesAmount] [varchar](50) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[ChannelTarget] ([Year], [ChannelName], [TargetName], [TargetSalesAmount]) VALUES (N'2013', N'Department Stores', N'Indiana Department Store', N'442857000')
INSERT [dbo].[ChannelTarget] ([Year], [ChannelName], [TargetName], [TargetSalesAmount]) VALUES (N'2013', N'Branded Franchise', N'Mississippi Distributors', N'453870000')
INSERT [dbo].[ChannelTarget] ([Year], [ChannelName], [TargetName], [TargetSalesAmount]) VALUES (N'2013', N'Online', N'Customer Sales', N'33335000')
