USE [nissimDW]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 3/13/2017 1:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DimDateID] [int] IDENTITY(1,1) NOT NULL,
	[FullDate] [date] NOT NULL,
	[DayNumberOfWeek] [tinyint] NOT NULL,
	[DayNameOfWeek] [varchar](9) NOT NULL,
	[DayNumberOfMonth] [tinyint] NOT NULL,
	[DayNumberOfYear] [int] NOT NULL,
	[WeekdayFlag] [int] NOT NULL,
	[WeekNumberOfYear] [tinyint] NOT NULL,
	[MonthName] [varchar](9) NOT NULL,
	[MonthNumberOfYear] [tinyint] NOT NULL,
	[CalendarQuarter] [tinyint] NOT NULL,
	[CalendarYear] [int] NOT NULL,
	[CalendarSemester] [tinyint] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](255) NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DimDateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[DimDate] ON 

INSERT [dbo].[DimDate] ([DimDateID], [FullDate], [DayNumberOfWeek], [DayNameOfWeek], [DayNumberOfMonth], [DayNumberOfYear], [WeekdayFlag], [WeekNumberOfYear], [MonthName], [MonthNumberOfYear], [CalendarQuarter], [CalendarYear], [CalendarSemester], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, CAST(N'2013-01-01' AS Date), 3, N'Tuesday', 1, 1, 1, 1, N'January', 1, 1, 2013, 1, CAST(N'2013-01-01T20:20:23.260' AS DateTime), N'company\SQLServerServiceAccount', NULL, NULL)
INSERT [dbo].[DimDate] ([DimDateID], [FullDate], [DayNumberOfWeek], [DayNameOfWeek], [DayNumberOfMonth], [DayNumberOfYear], [WeekdayFlag], [WeekNumberOfYear], [MonthName], [MonthNumberOfYear], [CalendarQuarter], [CalendarYear], [CalendarSemester], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, CAST(N'2013-01-02' AS Date), 4, N'Wednesday', 2, 2, 1, 1, N'January', 1, 1, 2013, 1, CAST(N'2013-01-01T20:20:23.260' AS DateTime), N'company\SQLServerServiceAccount', NULL, NULL)
INSERT [dbo].[DimDate] ([DimDateID], [FullDate], [DayNumberOfWeek], [DayNameOfWeek], [DayNumberOfMonth], [DayNumberOfYear], [WeekdayFlag], [WeekNumberOfYear], [MonthName], [MonthNumberOfYear], [CalendarQuarter], [CalendarYear], [CalendarSemester], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (3, CAST(N'2013-01-03' AS Date), 5, N'Thursday', 3, 3, 1, 1, N'January', 1, 1, 2013, 1, CAST(N'2013-01-01T20:20:23.260' AS DateTime), N'company\SQLServerServiceAccount', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DimDate] OFF
